<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/aa040526-6d5c-4f69-a9df-1da3de650c51/resourcegroups/appsvc_windows_centralus/providers/Microsoft.Web/sites/JiraProxyAPI20241105135746</ResourceId>
    <ResourceGroup>appsvc_windows_centralus</ResourceGroup>
    <ApiResourceId>/subscriptions/aa040526-6d5c-4f69-a9df-1da3de650c51/resourceGroups/appsvc_windows_centralus/providers/Microsoft.ApiManagement/service/JiraProxyAPIapi/apis/JiraProxyAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jiraproxyapi20241105135746.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>cabca5ad-e5a4-4a63-81df-87b5067b7840</ProjectGuid>
    <MSDeployServiceURL>jiraproxyapi20241105135746.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JiraProxyAPI20241105135746</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$JiraProxyAPI20241105135746</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>